<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" >
    <link type="text/css" href="/css/decoration.css" rel="stylesheet">
</head>
    <body>
        {{> menu}}
        <div class="title">
            <h2>{{title}}</h2>
            <p>Это больше не задачи: {{name}}</p>
        </div>
        {{> footer}}
    </body>
</html>