<!DOCTYPE html>
<html>
<head>
    <title>Личная страница</title>
    <meta charset="utf-8" />
    <link type="text/css" href="../public/css/decoration.css" rel="stylesheet">
</head>
<body>
    {{> menu}}
    <div class="personal">
    <hr>
        <h2>Личный кабинет</h2>
        <p>Имя: {{username}}</p>
        <p>Логин: {{useremail}}</p>
        <p>Это больше не задачи: {{name}}</p>
    <hr>
    </div>
    {{> footer}}
</body>

</html>