<!DOCTYPE html>
<html lang="en">
<head>
    <title>Регистрация нового пользователя</title>
</head>
<body>
{{> menu}}
<form method="post" action="/registration">
    <p><b>{{message}}</b><br></p>
    <p><b>Ваше имя</b><br>
        <label>
            <input name="name" type="text" size="40">
        </label>
    </p>
    <p><b>Ваш логин (e-mail)</b><br>
        <label>
            <input name="email" type="text" size="40">
        </label>
    </p>
    <p><b>Пароль</b><br>
        <label>
            <input name="password" type="text" size="40">
        </label>
    </p>
    <p><input type="submit" value="Send"></p>
</form>
{{> footer}}
</body>
</html>