<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link type="text/css" href="/css/decoration.css" rel="stylesheet">
</head>
<body>
{{> menu}}
<form method="post" action="/signin">
    <div class="login">
        <p>{{message}}</p>
        <p><b>Ваш логин (e-mail)</b><br>
           <label>
              <input name="email" type="text" size="40">
           </label>
        </p>
    <p><b>Пароль</b><br>
        <label>
            <input name="password" type="text" size="40">
        </label>
    </p>
    <p><input type="submit" value="Send"></p>
    </div>
</form>
{{> footer}}
</body>
</html>