* {
    margin: 0;
    padding: 0;
}

body {
    font-family: fantasy, sans-serif;
    background-image: url("picture.jpg");
    background-position: center center;
    color: white;
    text-align:  center;
}

nav {
    color: antiquewhite;
    /*background: white;*/
    height: 20px;
}

input[type = text] {
    background-color: white;
    color: white;
    border: 2px solid grey;
    border-radius: 4px;
    width: 15%;
}

.menu{
    font: menu;
    color: antiquewhite;
    font-size: 20px;
    text-align:  center;
}

.footer{
    bottom: 10px;
    font-size: 20px;
    /*vertical-align: bottom;*/
    /*text-align:  center;*/
}

.personal{
    font-size: 20px;
    text-align:  center;
}

.title{
    font-size: 30px;
    text-align:  center;
}

.login{
    font-size: 20px;
    text-align:  center;
    top: 80px;
}

.registration{
    top: 80px;
    font-size: 20px;
    text-align:  center;
}