* {
    margin: 10px;
    padding: 10px;
}

body {
    font-family: sans-serif;
    background-image: url("picture.jpg");
    background-position: center center;
    color: white;
    text-align:  center;
}

nav {
    color: antiquewhite;
    padding: 0;
    text-decoration: none;
    /*background: white;*/
    height: 20px;
}

input[type = text] {
    background-color: white;
    color: darkslateblue;
    border: 2px solid grey;
    border-radius: 4px;
    width: 15%;
}

.menu{
    font: menu;
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    text-align:  center;
}

menu a {
    text-decoration: none;
}

.footer{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: cursive;
    font-size: 20px;
    /*vertical-align: bottom;*/
    /*text-align:  center;*/
}

.personal{
    font-size: 30px;
    vertical-align: center;
    text-align:  center;
}

.title{
    font-size: 30px;
    text-align:  center;
}

.login{
    font-size: 20px;
    vertical-align: center;
    text-align:  center;
    top: 300px;
}

.registration{
    top: 200px;
    font-size: 20px;
    text-align:  center;
}